include ../../_mixins/yearDetail

.container 
  .row
    .col-lg-12
      h1.page-header 2001 Concerts 
        small 30 Seconds To Mars
        
        
   .row     
     +yearDetail("s_2001_1",1)

   .row
     +yearDetail("s_2001_2", 0)    
