include ../../_mixins/yearDetail

.container 
  .row
    .col-lg-12
      h1.page-header 2013 Concerts 
        small 30 Seconds To Mars
        
        
   .row     
     +yearDetail("s_2013",1)

  .row
    .col-lg-12
      table.table.table-striped
        thead
          tr
            th Date
            th Country
            th City
            th Venue
            th Event
              
            
        tbody
          tr
            td 12.07.2013
            td USA
            td New York
            td Hammerstein Ballroom
            td Mars300
          tr
            td 12.12.2013
            td USA
            td New York
            td Madison Square Garden
            td Mars300
