!!! 5

- var menuItems = ["Forums", "History"];

html
  head
  
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <meta name="description" content="">
    <meta name="author" content="">

    title #{ title }
    
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/_assets/font/font-awesome.min.css")
    
    link(rel="stylesheet", href="/_assets/css/docs.css")
    link(rel="stylesheet", href="/_assets/css/pygments-manni.css")
    // link(rel="stylesheet", href="/_assets/css/app.css")
    link(rel="alternate", type="application/rss+xml", title="#{ title } RSS", href="/rss.xml")

  body
    include nav.jade
    != yield
    hr
    footer
      .container
        .row
          .col-sm-6
            p: small &copy; 2013 #{ author }
          .col-sm-6
            p.pull-right
              small: a(href="/rss.xml", title="#{ title } RSS feed")
                img.rss-feed(src="/_assets/ico/favicon.png")
                |  RSS feed
    script(src="/_assets/js/holder.js")
