.container
  .jumbotron
    h1 #{ title }
    .muted 30 Seconds To Mars
    a(class="btn btn-primary btn-lg", href="/lg/lg") Live Guides
    
  .row
    .col-sm-8
      .thumbnail
        .caption.text-center
          h2 Live Guides
          p lorem ipsum
          a(class="btn btn-primary", href="/liveguide") Live Guide
    .col-sm-4
      .thumbnail
        .caption
          h2 Forums
          p lorem ipsum
          a(class="btn btn-primary", href="/forums") Forums
      