.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='navbar-collapse')
        span.sr-only(Toggle)
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/index') #{ band }
          
    .collapse.navbar-collapse.navbar-ex1-collapse
      .nav.navbar-nav.navbar-right
        li(class="active") 
          a(href='/lg') Live Guides
        li
          a(href='/forums') Forums